@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    @apply bg-zinc-950 text-zinc-300 antialiased;
    margin: 0;
  }
  ::selection {
    @apply bg-emerald-500/30 text-emerald-100;
  }
}
